body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

/*Header Styling */
.header--container {
  background-color: #55505c;
  padding: 20px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header--container > a {
  text-decoration: none;
}

.header--title {
  margin: 0;
  color: #e8e9f3;
  font-size: 1.5em;
  text-align: center;
}

.header--nav {
  align-self: flex-end;
  margin-left: auto;
}

.header--nav > p {
  margin: 0;
  color: #e8e9f3;
}

/*Cocktails Nav Styling */

.cocktails--container {
  padding: 25px;
}

.cocktails--linksDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cocktails--links {
  text-decoration: none;
  font-weight: 600;
  color: #55505c;
}

.cocktails--active {
  text-decoration: underline;

  font-weight: 600;
  color: #55505c;
}

/* Cocktails List Styling */
.cocktails--list {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cocktails--list > a {
  text-decoration: none;
}

.cocktails--item {
  padding: 10px;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.cocktails--image {
  width: 125px;
  border-radius: 5px;
  /* box-shadow: 0 1px 5px rgba(0, 0, 0, 1); */
}

.cocktails--title {
  color: #55505c;
  text-align: center;
  font-weight: 600;
  font-size: 1.25em;
  margin-bottom: 5px;
}

.cocktails--info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

.cocktails--info > p {
  text-align: center;
  font-size: 0.75em;
  font-weight: 500;
  margin: 2px;
  color: #55505c;
}

.cocktails--info > p > span {
  font-weight: 800;
}

/* Details Styling */

.details--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  padding: 30px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  color: #55505c;
  margin-left: 5%;
  margin-right: 5%;
}

.details--heading {
  font-weight: 800;
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
}

.details--img {
  width: 300px;
  border-radius: 50%;

  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.details--info {
  margin-top: 10px;
  font-size: 0.85em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details--info > p {
  margin: 3px;
  font-weight: 500;
}

.details--infoType {
  font-weight: 800;
}

.details--subheading {
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 1.5em;
}

.details--list {
  margin: 10px;
  font-weight: 500;
  font-size: 1em;
}

.details--button {
  background-color: #55505c;
  color: #e8e9f3;
  border: 1px solid black;
  padding: 10px;
  font-size: 1em;
  margin-top: 20px;
}

/* Random Cocktail Styling */
.random--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.random--container > h2 {
  text-align: center;
  font-size: 1.5em;
  color: #55505c;
  text-decoration: underline;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 30px;
  cursor: pointer;
}

.random--container > a {
  text-decoration: none;
  color: #55505c;
}

.random--info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 50px 0px;
}

.random--info > img {
  width: 75%;
  border-radius: 5%;
  margin-top: 20px;
}

.random--info > h1 {
  text-align: center;
  font-size: 3em;
  margin: 0;
}

.random--subinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.random--subinfo > p {
  text-align: center;
  margin: 5px;
  font-size: 1.1em;
}

.random--subinfo > p > span {
  font-weight: 800;
}
